.container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    height: 100%;
    margin-bottom: 100px;
}

.search_container{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: transparent;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 3px;
    width: 600px;
    height: 40px;
    margin: 20px;
    
}

#search_icon{
    margin: 10px;
}


input[type="text"] {
    border: none; 
    background-color: transparent; 
    height: max-content;
    font-size: 20px;
    width: 550px
}

input[type="text"]:focus {
    outline: none;
    width: 350px;
}


.search_button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.buttons_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 15px;
}

.google_logo_span{
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}